# 6.-Diccionarios y Conjuntos

Un diccionario tiene es una colección no ordenada de parejas, estas parejas contienen llaves y
datos

Un conjunto es una colección no ordenada de valores únicos

---

## 6.2 - Diccionarios

Vamos  a crear un diccionario con los nombres Laura, Daniel, Alberto y Rogelio, y sus códigos la, dn, al, ro.

In [1]:
usuario_nickname = {'Laura':'la','Daniel':'dn','Alberto':'al','Rogelio':'ro'}

¿Cuantas parejas hay en el diccionario?

In [3]:
len(usuario_nickname)

4

Ahora crea un diccionario donde mapees a los usuarios con su edad - 28, 31, 27 y 65 respectivamente.

In [51]:
usuario_edad = {'Laura':28,'Daniel':31,'Alberto':27,'Rogelio':65}
usuario_edad

{'Laura': 28, 'Daniel': 31, 'Alberto': 27, 'Rogelio': 65}

Arma un programa que nos diga en forma de oración **"X tiene Y años"** para cada uno de los 4 participantes. (Ej - Laura tiene 28 años cumplidos)

In [22]:
for usuario,edad in usuario_edad.items():
    print(f'{usuario} tiene {edad} años')

Laura tiene 28 años
Daniel tiene 31 años
Alberto tiene 27 años
Rogelio tiene 65 años

#### Revisa tu comprensión

El método _____________________ te regresa cada pareja llave-valor como una tupla

---

Accede a 2 usuarios mediante sus llaves

In [ ]:
usuario_edad ['Laura']

28

Cambia el valor de alguan de las llaves - Resulta que Rogelio en realidad tiene 35 años

In [26]:
usuario_edad['Rogelio'] = 35

usuario_edad

{'Laura': 28, 'Daniel': 31, 'Alberto': 27, 'Rogelio': 35}

Se integra un nuevo elemento - Eva de 29 años, agregala al diccionario

In [52]:
usuario_edad['Owen'] = 17
usuario_edad

{'Laura': 28, 'Daniel': 31, 'Alberto': 27, 'Rogelio': 65, 'Owen': 17}

Daniel decidió que no somos lo suficientemente cool para el - borralo del diccionario

In [30]:
del usuario_edad['Daniel'] 
usuario_edad

{'Laura': 28, 'Alberto': 27, 'Rogelio': 35, 'Owen': 17}

Tu gerente inútil te manda buscar a Pepe aunque no este en el diccionario - Que sucede?

In [31]:
usuario_edad['Pepe']

KeyError: 'Pepe'

¿Cual era la edad de Eva?

In [53]:
usuario_edad['Owen']

17

Ahora usa Get para conocer la edad Edad de Pepe y evitar un error

In [ ]:
usuario_edad.get('Pepe', 'Pepe no está incluido')

'Pepe no está incluido'

Prueba si Pepe y Eva están en el diccionario

In [ ]:
'Pepe' in usuario_edad

False

In [54]:
'Owen' in usuario_edad

True

---

### 6.2.2 - Métodos de Diccionario

Anteriormente, usamos el método **items** para iterar a través de las tuplas de un key-value pair. Asimismo, lo métodos **keys** y **values** pueden susares para iterar las llaves y valores de un diccionario.

Arma un for que muestre los nombres de los participantes - sacados de usuario_edad

In [56]:
usuario_edad={'Laura':28,'Daniel':31,'Alberto':27,'Rogelio':65}
for usuario in usuario_edad.keys():
    print(usuario, end=', ')

Laura, Daniel, Alberto, Rogelio,

Arma un for que muestre las edades de los participantes

In [58]:
usuario_edad={'Laura':28,'Daniel':31,'Alberto':27,'Rogelio':65}
for edad in usuario_edad.values():
    print(edad, end=', ')

28, 31, 27, 65,

Si añadimos otro elemento al diccionario...

In [59]:
usuario_edad['Eva']=29

Checa que aparece en Views

In [60]:
list(usuario_edad.keys())
['Laura', 'Daniel', 'Alberto', 'Rogelio', 'Eva']
list(usuario_edad.values())

[28, 31, 27, 65, 29]

A veces es necesario trabajar con las llaves y valores del diccionario - Eso lo logramos convirtiendo nuestras llaves y valores en listas con la función **list**

In [ ]:
list(usuario_edad.items())

[('Laura', 28), ('Daniel', 31), ('Alberto', 27), ('Rogelio', 65), ('Eva', 29)]

Para ordenar en orden alfabético las llaves del diccionario

In [63]:
for usuario in sorted(usuario_edad.keys()):
    print(usuario, end=' ')

Alberto Daniel Eva Laura Rogelio

#### Por tu cuenta

Para el siguiente diccionario, crea listas de sus **llaves**, **valores** y **items** - y muestra esas listas

Municipios_poblacion = {"Acatic" : 23175, "Acatlan de Juarez" : 25250, "Ameca" : 60386, "Arandas" : 80609}

In [68]:
Municipios_poblacion = {"Acatic" : 23175, "Acatlan de Juarez" : 25250, "Ameca" : 60386, "Arandas" : 80609}
list(usuario_edad.values())

[28, 31, 27, 65, 29]

Python te permite comparar diccionarios . 

Compara estos 3:
    
asistentes_dia1={'Ramírez':'Laura','Cortés': 'Daniel','Pérez':'Alberto'}

asistentes_dia2={'García':'Rogelio','Ramírez': 'Laura','Pérez':'Alberto'}

asistentes_dia3={'Pérez':'Alberto','Cortés': 'Daniel','Ramírez':'Laura'}

In [72]:
asistentes_dia1={'Ramírez':'Laura','Cortés':'Daniel','Pérez':'Alberto'}
asistentes_dia2={'García':'Rogelio','Ramírez':'Laura','Pérez':'Alberto'}
asistentes_dia3={'Pérez':'Alberto','Cortés':'Daniel','Ramírez':'Laura'}
asistentes_dia3 == asistentes_dia1

True

In [73]:
asistentes_dia1={'Ramírez':'Laura','Cortés':'Daniel','Pérez':'Alberto'}
asistentes_dia2={'García':'Rogelio','Ramírez':'Laura','Pérez':'Alberto'}
asistentes_dia3={'Pérez':'Alberto','Cortés':'Daniel','Ramírez':'Laura'}
asistentes_dia2 != asistentes_dia3

True

In [ ]:
asistentes_dia1={'Ramírez':'Laura','Cortés':'Daniel','Pérez':'Alberto'}
asistentes_dia2={'García':'Rogelio','Ramírez':'Laura','Pérez':'Alberto'}
asistentes_dia3={'Pérez':'Alberto','Cortés':'Daniel','Ramírez':'Laura'}
asistentes_dia1 == asistentes_dia2

False

#### Elemplo 2

Arma un programa que utilice diccionarios, el método split, y el método items, asi como 2 ciclos for, para contar la cantidad de palabras en esta oración.Tu resultado debe de ser una tablita de 2 columnas donde muestres la palabra y la repetición:

In [83]:
cuento=('cuenta un cuento que una princesa se la pasa '
        'cuenta que cuenta ese cuento llamado la princesa '
        'que cuenta')
palabras_contadas={}
for palabra in cuento.split():
    if palabra in palabras_contadas:
        palabras_contadas[palabra] +=1
    else:
        palabras_contadas[palabra]=1

print(f'{"PALABRA":<12} REPETICIONES')
for palabra,veces in sorted(palabras_contadas.items()):
    print(f'{palabra:<12}{veces}')
print('\nNúmero de palabras únicas en el texto:',len(palabras_contadas))

PALABRA      REPETICIONES
cuenta      4
cuento      2
ese         1
la          2
llamado     1
pasa        1
princesa    2
que         3
se          1
un          1
una         1

Número de palabras únicas en el texto: 11

Ahora utiliza la herramienta Counter de Python para realizar la misma tarea con el **cuento**

In [84]:
from collections import Counter
cuento=('cuenta un cuento que una princesa se la pasa '
'cuenta que cuenta ese cuento llamado la princesa '
'que cuenta')
contador=Counter(cuento.split())

for palabra,veces in sorted(contador.items()):
    print(f'{palabra:<12}{veces}')

cuenta      4
cuento      2
ese         1
la          2
llamado     1
pasa        1
princesa    2
que         3
se          1
un          1
una         1

---

## 6.3 Comprensión de Diccionarios

La comprensión de diciconarios, igual que la de listas, te da una notación más compacta para generar diccionarios.

Chécate el siguiente ejemplo donde intercambiamos los pares valor-llave de

usuario_edad={'Laura':28,'Daniel':31,'Alberto':27,'Rogelio':65}

In [85]:
usuario_edad={'Laura':28,'Daniel':31,'Alberto':27,'Rogelio':65}

También podemos mapear valores nuevos, Checa como convertimos las ventas de agentes en ventas promedio (en un nuevo diccionario)

ventas_agentes= {'Laura': [12000, 10500, 9800, 11100], 'Daniel': [11000, 7800, 7200, 6500], 'Alberto': [11200, 9500, 10800, 10100]}

In [86]:
ventas_agentes= {'Laura': [12000, 10500, 9800, 11100],'Daniel': [11000, 7800, 7200, 6500],'Alberto': [11200, 9500, 10800, 10100]}
ventas_promedio={k:sum(v)/len(v) for k,v in ventas_agentes.items()}
ventas_promedio

{'Laura': 10850.0, 'Daniel': 8125.0, 'Alberto': 10400.0}

#### Por tu cuenta

Usa una comprensión de diccionario para crear un diccionario de los números 4-10 mapeado a sus cuadrados

In [ ]:
diccionario = {x: x**2 for x in range(4, 11)}

print(diccionario)

---

### 6.4 Conjuntos (SETS)

Un conjunto es una colección no ordenada de valores únicos.

El código siguiente genera un conjunto llamado animales

animales={'gato','ratón','perro','garza','perico','perro','pato'}

In [87]:
animales={'gato','ratón','perro','garza','perico','perro','pato'}

Para determinar la cantidad de elementos

In [ ]:
len(animales)

6

Si quieres verificar si algún elemento está incluido en el conjunto

In [89]:
'perro' in animales

True

Los conjuntos son iterables - checa como convertimos todo el conjunto a mayusculas con el método upper y un for

In [91]:
for animal in animales:
    print(animal.upper(),end=' ')

PERRO GATO PATO PERICO GARZA RATÓN

Checa que puedes crear un conjunto a partir de listas usando la función set. Primero vamos a crear y unir 2 listas - pares me dará todos los números pares del 0 al 15, y se unirá con todos los pares del 8 al 29

In [92]:
pares=list(range(0,15,2))+list(range(8,29,2))
pares

[0, 2, 4, 6, 8, 10, 12, 14, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Y ahora la convertiremos en un set

In [93]:
set (pares)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28}

#### Por tu cuenta

Asigna la siguiente caden a una variable **texto** y luego dividela usando el método split y crea un set de los resultados. Muestra las palabrás únicas en orden sorted. 

'Un dragon tragon trago carbon y quedo panzon, ah que dragon tan tragon"

In [ ]:
texto = 'Un dragon tragon trago carbon y quedo panzon, ah que dragon tan tragon'
palabras_unicas = sorted(set(texto.split()))

print(palabras_unicas)

---